@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid blue;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_links .links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.links li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px;
  text-align: left;
  color: #232323;
}

.links li a:hover {
  color: #232323;
  border-bottom: 1px solid #232323;
}

.navbar_btn {
  padding: 10px;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
  background-color: transparent;
  color: #232323;
  border: 1px solid #0F265C;
  transition: 0.3s linear;
}

.navbar_btn:hover {
  background-color: #0F265C;
  color: #FFFFFF;
  border: 1px solid #0F265C;
}

.checkboxx {
  display: none;
}

@media (min-width: 777px) {
  .div_for_menu {
    display: none;
  }
  .logingout {
    display: none;
  }
  .new {
    display: none;
  }
}
@media (max-width: 777px) {
  .links {
    top: 0;
    left: -100%;
    position: fixed;
    width: 70%;
    background-color: aliceblue;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s linear;
    z-index: 999;
  }
  .old {
    display: none;
  }
  #check:checked ~ .links {
    left: 0;
  }
}
.showcase_left_and_right {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 30px;
  gap: 30px;
}

.showcase_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid #A0A0A0;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.showcase_left h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #232323;
}

.showcase_left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #232323;
}

.showcase_right h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #232323;
}

.showcase_right h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #232323;
}

.showcase_right p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #7A7A7A;
}

.inputt {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #7A7A7A;
  width: 80%;
  height: 46px;
  border-radius: 6px;
  border: none;
  background-color: #F3F3F3;
  outline: none;
  padding: 10px;
}

.showcase_btn {
  width: 193px;
  height: 45px;
  background-color: #0F265C;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
  color: #FFFFFF;
  border: none;
  transition: 0.3s linear;
}

.showcase_btn:hover {
  background-color: #FFFFFF;
  color: #0F265C;
  border: 1px solid #0F265C;
}

.showcase_right {
  box-shadow: 0px 4px 8px 0px rgba(114, 114, 114, 0.2509803922);
  width: 90%;
  height: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1000px) {
  .showcase_left_and_right {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .showcase_left h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: #232323;
  }
}
@media (max-width: 335px) {
  .showcase_left h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: #232323;
  }
}
.advice {
  margin-top: 50px;
  margin-bottom: 50px;
}

.advice_title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.advice_title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 43.71px;
  color: #232323;
}

.inside_a h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  text-align: left;
  color: #232323;
}

.inside_a p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #232323;
  width: 50%;
}

.advice_divs {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 40px;
}

.inside_a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 600px) {
  .advice_divs {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
}
.how_title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.how_title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 43.71px;
  text-align: left;
  color: #232323;
}

.how_divs {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 40px;
}

.how_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.h_inside h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #232323;
  width: 60%;
}

.h_inside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .how_divs {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 40px;
  }
}
@media (max-width: 400px) {
  .how_divs {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 40px;
  }
}
.with {
  margin-top: 50px;
  margin-bottom: 50px;
}

.with_title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.with_title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 43.71px;
  text-align: left;
  color: #232323;
}

.w_div h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  color: #FFFFFF;
  text-align: start;
  margin-top: 70px;
}

.w_div {
  background-image: url(../../svg/how2.svg);
  width: 172px;
  height: 150px;
  padding: 20px 20px;
}

.w_divs {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.work_divs {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 2fr);
}

.work_title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.work_title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 43.71px;
  text-align: left;
}

.work_div1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.work_div2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.work_div3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.work_div4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.work_div5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.work_div6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.work_div7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.work_div8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media (max-width: 1300px) {
  .work_divs {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .work_div1 img,
  .work_div2 img,
  .work_div3 img,
  .work_div4 img,
  .work_div5 img,
  .work_div6 img,
  .work_div7 img,
  .work_div8 img {
    width: 100%;
  }
  .work_div1,
  .work_div2,
  .work_div3,
  .work_div4,
  .work_div5,
  .work_div6,
  .work_div7,
  .work_div8 {
    width: 100%;
  }
}
.call {
  margin-top: 50px;
}

.call_left_and_right {
  display: flex;
  gap: 50px;
}

.call_right h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 43.71px;
  text-align: left;
  color: #232323;
}

.call_right h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #232323;
}

.call_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.c_inside1 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.c_inside1 a {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #232323;
}

.div_for_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1100px) {
  .call_left_and_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .call_left img {
    width: 100%;
  }
  .call_left {
    width: 100%;
  }
}
.call_btn {
  width: 193px;
  height: 45px;
  background-color: #0F265C;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
  color: #FFFFFF;
  border: none;
}

@media (max-width: 800px) {
  .div_for_btn {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
